apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  name: crossplane-resources
  namespace: argocd
spec:
  destination:
    namespace: default
    server: https://kubernetes.default.svc
  project: default
  source:
    helm:
      valueFiles:
        - values.yaml
    path: helm/crossplane-resources
    repoURL: https://github.com/David-Crty/minikube-infra.git
    targetRevision: main
  syncPolicy:
    automated:
      prune: true
      selfHeal: true